<!DOCTYPE html>
<html lang="en" xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>索引界面</title>
    <style type="text/css">
        .a1{
            background: url("static/img/vt.jpg") no-repeat center;
            background-size: 100%;
        }
    </style>
</head>
<body class="a1">
    <div  style="text-align:center;"><a href="/toStuLogin"><font color="green">学生登录</font></a></div>
        </br>
    <div style="text-align:center;"><a href="/toTeacher"><font color="green">教师登录</font></a></div>
</body>
</html>